.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

body,
html {
    height: 100%;
    background: rgb(124, 128, 124);
}

button {
    width: 23%;
    height: 95%;
    font-size: 20px;
    font-weight: 100;
    border: solid black 1px;
}

button:hover {
    opacity: 70%;
}

.buttons {
    height: 14%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 7px;
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
}

.action,
.instant-action,
.equals,
#Backspace,
#C,
#CE {
    background-color: orange;
}

.digits {
    background-color: aquamarine;
}

#window {
    padding: 30px;
}

#equation {
    font-size: 17px;
}

#result {
    border-radius: 15px;
    border: solid black 1px;
    background-color: antiquewhite;
    height: 70px;
    width: 300px;
    text-align: end;
    font-size: 50px;
    font-weight: 600;
    padding-right: 5px;
}

#window {
    background-color: lightgray;
    height: 530px;
    width: 320px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    box-shadow: 10px 10px 25px 5px #000000;
}

#change-sign {
    border-radius: 0 0 0 15px;
    border-width: 1px;
}

#equals {
    border-radius: 0 0 15px 0;
    border-width: 1px;
}

#percent {
    border-radius: 15px 0 0 0;
    border-width: 1px;
}

#Backspace {
    border-radius: 0 15px 0 0;
    border-width: 1px;
}