.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

body,
html {
    height: 100%;
    background: rgb(35, 36, 35);
}

button {
    width: 23%;
    height: 95%;
    font-size: 20px;
    font-weight: 100;
}

.buttons {
    height: 14%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 7px;
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.action,
#equals,
#erase,
#C {
    background-color: orange;
}

.digits {
    background-color: aquamarine;
}

#equation {
    font-size: 17px;
}

#result {
    border-radius: 15px;
    border: solid black 1px;
    background-color: antiquewhite;
    height: 70px;
    width: 300px;
    text-align: end;
    font-size: 50px;
    font-weight: 600;
    padding-right: 5px;
}

#window {
    background-color: lightgray;
    height: 530px;
    width: 320px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#change-sign {
    border-radius: 0 0 0 15px;
    border-width: 1px;
}

#equals {
    border-radius: 0 0 15px 0;
    border-width: 1px;
}